SPRING_DATABASE_URL=jdbc:postgresql://localhost:5432/atlaswatch
SPRING_DATABASE_USERNAME=postgres
SPRING_DATABASE_PASSWORD=postgres
MAIL_HOST=smtp.gmail.com
EMAIL=your-email@example.com
EMAIL_PASSWORD=your-email-password
EXPIRATION_TIME_FOR_REFRESH_TOKEN=86400000
CLIENT_ID=your-google-client-id
CLIENT_SECRET=your-google-client-secret
REDIS_HOST=localhost
REDIS_PORT=6379
TMDB_API_TOKEN=your-tmdb-token
PUBLIC_KEY=your-public-key
PRIVATE_KEY=your-private-key
